.btn-group-sm>.btn, >btn-sm {
    padding: 0.25rem 05rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 1.0rem ;
}
.btn-info {
    color: #d0eaf5;
    background-color: #6286ea;
    border-color: #ced4da;
}
h2 {
    width: 300px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    bordert: 50px;: 0.05px solid #b09999;
    background-color: #0c75e8;
    border-radius: 5px;
    color: #eae2e2;
    font-size: 120%;
}


button>img {
    height: 20px;
    width: 15px;
    background-size: 100%;
}

